{% extends 'header.html' %}
{% block title %}Edit member {{member['name']}}{% endblock %}
{% block body %}
    <form method='post' action='{{url_for('save_member_changes')}}'>
        <input name='member_id' type='hidden' value='{{member_id}}'>
        <table>
            <tr>
                <th>
                    Name:
                </th>
                <td>
                    <input name='name' length='30' value='{{member['name']}}'>
                </td>
            </tr>
            <tr>
                <th>
                    Mobile:
                </th>
                <td>
                    <input name='mobile' length=11 value='{{member['mobile number']}}'>
                </td>
            </tr>
            <tr>
                <th>
                    Address:
                </th>
                <td>
                    <textarea name='address' rows='3' columns ='50'>{{member['address']}}</textarea>
                </td>
            </tr>
            <tr>
                <th>
                    Postcode:
                </th>
                <td>
                    <input name='postcode' length='7' value='{{member['postcode']}}'>
                </td>
            </tr>
            <tr>
                <th>
                </th>
                <td>
                    <input type='submit' value='Save Changes'>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}