<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block header %}
        {% endblock %}
    </head>
    <body>
        <div>
            <h1>Scrabble</h1>
            <a href='{{url_for('index')}}'>Home</a>
            <a href='{{url_for('members')}}'>Members</a>
            <a href='{{url_for('new_member')}}'>New Member</a>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>