{% extends 'header.html' %}
{% block title %} Top scores {% endblock %}
{% block body %}
<h2>Leaderboard</h2>
<table>
    <tr>
        <th>
            Player
        </th>
        <th>
            Score
        </th>
        <th>
            Game
        </th>
        <th>
            Game Time
        </th>
    {% for score in scores %}
    <tr>
        <td>
            {{ score['name'] }}
        </td>
        <td>
            {{ score['score'] }}
        </td>
        <td>
            {{ score['gameid'] }}
        </td>
        <td>
            {{score['datetime']}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}