{% extends 'header.html' %}
{% block title %}{{member['name']}}{% endblock %}
{% block body %}
<h2>{{member['name']}}'s Profile</h2>
<form action='{{url_for('edit_member')}}' method='post'>
    <input name='member_id' type='hidden' value='{{member_id}}'>
    <input type='submit' value='Edit_member'>
</form>
<p>Wins: {{wins}}</p>
<p>Losses: {{losses}}</p>
<p>Average score: {{member['average']}}</p>
<h2>Highest Score </h2>
<p>{{highest_score['score']}}</p>
<p>Scored at: {{highest_score['location']}} {{highest_score['datetime']}}</p>
<p>Scored against: {{highest_score_opponent}}
{% endblock %}