{% extends 'header.html' %}
{% block title %}Members{% endblock %}
{% block body %}
<table>
    {% for member in members %}
    <tr>
        <td>
            {{member['name']}}
        </td>
        <td>
            {{member['address']}}
        </td>
        <td>
            <form method='post' action='{{url_for('member')}}'>
                <input type='hidden' name='id' value='{{member['id']}}'>
                <input type='submit' value='View Profile'>
            </form>
    </tr>
    {% endfor %}
</table>
{% endblock %}