{% extends 'header.html' %}
{% block title %}New Member{% endblock %}
{% block body %}
    <form method='post' action='{{url_for('create_member')}}'>
        <table>
            <tr>
                <th>
                    Name:
                </th>
                <td>
                    <input name='name' length='30'>
                </td>
            </tr>
            <tr>
                <th>
                    Mobile:
                </th>
                <td>
                    <input name='mobile' length=11>
                </td>
            </tr>
            <tr>
                <th>
                    Address:
                </th>
                <td>
                    <textarea name='address' rows='3' columns ='50'></textarea>
                </td>
            </tr>
            <tr>
                <th>
                    Postcode:
                </th>
                <td>
                    <input name='postcode' length='7'>
                </td>
            </tr>
            <tr>
                <th>
                </th>
                <td>
                    <input type='submit' value='Create Member'>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}